body {
  margin: 0;
  padding: 0;
  background-color: #F2F0EC;
}
.nav-bar {
  height: 60px;
  width: ;
  /*background-repeat: "images/navbar.png";*/
  background-image: url('images/top_bar.png');
  color: white;
}

.nav-bar-text-div {
  margin-left: 348px;
  padding: 0;
}

.brand_name {
  position:absolute;
  right: 270px;
  top: -8px;
}

.nav-bar-text-div {
  position: absolute;
  left: 150px;
  /*padding-top: 7px;*/
}

.nav-bar ul {
  padding-top: 10px;
}

.nav-bar li {
  display: inline;
  color: white;
}

.second-in-nav-list {
  padding-left: 30px;
  margin-top: 8px;
}

.logo {
  position: absolute;
  left: 272px;
  margin: 0;
  padding: 0;
  height: 59px;
  width: 100;
  background-image: url('images/hat.png');
  background-repeat: no-repeat;
}

.user_div {
  width: 300px;
  position: relative;
  margin-left: 1064;
  display: inline-block;
}


.user_image_div {
  width: 55px;
  height: 60px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background-image:url('images/bruce.png');
  background-repeat: no-repeat;
  display: inline-block;
}


.user_name {
  display: inline-block;
  position: relative;
  margin-left:3px;
  bottom: 20px;
}

.header {
  width: 100%;
  height: 88px;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid black;
}

.header_text {
  margin: 0;
  padding: 20px 0 0 0;
}

.main_div {
  width: 940px;
  background-color: #F2F0EC;
  margin: 0 auto;
  padding-top: 30px;
}

.main_image_div {
  float: left;
  width: 621;
  height: 402;
  background-image:url('http://placekitten.com/621/402');
  background-repeat: no-repeat;
  display: inline-block;
}

.main_image_text_top {
  height: 330px;
}

.U2_banner {
  opacity: 1;
  font-size: 135%;
  position: relative;
  color: white;
  top: 14px;
  left: 14px;
}

.image_border {
  height: 56px;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.main_image_text_bottom {
  background-color: #D0CDC8;         /*D0CDC8;*/
  height: 103px;
}

.tour_announce {
  color: #414141;
}

.tour_announce {
  margin: 0 20px 0 20px;
  font-style: italic;
  font-size: 118%;
}

.mob_time {
  float: right;
  position: relative;
  right: 20px;
  top: 16px;
}

.mob_message {
  background-color: #FCCD46;
  width: 142px;
  position: relative;
  left: -3px;
  top: -10px;
  color: white;
  text-align: center;
}

.num_of_mobbers {
  margin: 6px 30px 2px 30px;
}

.mobber_stats_side_container {
  float: right;
  width: 300px;
  height: 498px;
  background: #F2F0EC;;
}

.mobber_stats_1 {
  width: 140px;
  height: 150px;
  background-color: #D0CDC8;
  text-align: center;
}

.mobber_stats_2 {
  width: 140px;
  height: 150px;
  float: right;
  text-align: center;
  background-color: #D0CDC8;
}

.big_num {
  padding-top: 30px;
  color: white;
  display: block;
  font-size: 550%;
}

.mobdaddy {
  background-color: #B5AEA4;
  font-size: 85%;
  display: block;
  color: #4D4C4B;
  position: relative;
  top: 3px;
}

.image_row_container {
  background-color: #F2F0EC;

}

.row_of_three_images {
  clear: both;
  width: 100%;
  height: 280px;
  background: #F2F0EC;
  padding: 40px 0 40px 0;
  
}

.images_holder {
  width: 940px;
  margin: auto;
}

.image_1 {
  float: left;
}

.image_2 {
  float: left;
  margin: 0 20px 0 20px;
}

.image_3 {
  float: left;
}

.deal_text_container {
  width: 300px;
  height: 90px;
  padding-top: 5px;
}

.deal_headers {
  float: left;
  width: 175px;
  margin: 0;
  padding: 0;
  float: left;
}

.time_div {
  float: right;
  width: 50px;
  margin: 0;
  padding: 0;
}

.general_mob_div_container {
  border-top: 1px solid black;
  width: 940px;
  margin: auto;
  width: 100%;
  background: white;
}

.general_mob_div {
  clear: both;
  width: 940px;
  height: 250px;
  background: white;
  padding: 18px 0 40px 0;
  margin: auto;
}

.schedule_div {
  width: 630;
  float: left;
}

.start_mob_div {
  width: 300px;
  height: 210px;
  float: right;
  background: #D0CDC8;
}

.start_mob_div h3 {
  color: white;
  text-align: center;
  font-size: 120%;
}

.start_mob_div ul {
  list-style-type: none;
  padding-left: 20px
}

.start_mob_div li {
  display: inline-block;
  width: 70px;
}

.padded {
  padding-left: 23px;
}

.footer {
  clear: both;
  width: 940px;
  height: 300px;
  background: #545352;
  padding: 5px 0 40px 0;
  margin: auto;
}

.mob_categories_div {
  width: 290px;
  float: right;
}

.contact_div {
  width: 280;
  float: right;
}

.connect_div {
  width: 280px;
  float: right;
  margin: 0 20px 0 30px;
}

.category {
  font-size: 120%;
}

.list_one {
  width: 125px;
  float: left;
}

.list_two {
  width: 125px;
  float: right;
}

.smallprint {
  color: #BBBABA;;
  font-size: 80%;
}

.deal_headers_text {
  font-weight: bold;
}

.mobbers_needed {
  clear: both;
}

table {
   border-collapse:collapse;
}

tr {
  border-bottom: 1px solid black;
  width: 620px;
  margin-bottom: 10px;
} 

.footer_container {
  color: white;
  background: #545352;
}

.mob_category_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mob_category_list button {
  width: 140px;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: #636362;
  border: none;
  border-radius:5px;
  color: white;
  outline: 1px solid black;
  /*box-shadow:  1px 1px 1px 1px black;*/
}

.connect_div {
  padding: 0 20px 0 20px;
  margin-left: 20px;
  position: relative;
  left: 50px;
}

.white {
  color: white;
  width: 200px;
}

.connect_div input {
  height: 45px;
  width: 175px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 110%;
}
input::-moz-placeholder {
  padding-left: 10px;
  font-size: 110%;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  padding-left: 10px;
  font-size: 110%;
}
input:-ms-input-placeholder { 
  padding-left: 10px;
  font-size: 110%;
}

.social_list {
  list-style-type: none;
  padding: 0;
  width: 200px;
}

.with_underline {
  border-bottom: 2px solid #373737;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

.contact_text {
  width: 200px;
}

.but_bigger {
  margin: 0;
  padding: 0;
  font-size: 88%;
  color: #BBBABA;
}

.email_button {
  width: 140px;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: #636362;
  border: none;
  border-radius:5px;
  color: white;
  outline: 1px solid black;
  /*box-shadow:  1px 1px 1px 1px black;*/
}

/*border-style*/

.smallprint2 {
  font-size: 80%;
  color: #414141;
}

.decorative_nums_div {
  margin-right: 46px;
}

.circle_num {
  background-color: #E7E7E7;
  width: 20px;
  text-align: center;
  border-radius: 150px;
}

.spaced {
  margin-left: 83px;
}

.one {
  float: right;
}

.line1 {
  position: relative;
  left: 152px;
  top: -105px;
  width: 81px;
  height: 8px;
  background-color: #BDBBB6;
}

.line2 {
  position: relative;
  left: 49px;
  top: -97px;
  width: 81px;
  height: 8px;
  background-color: #BDBBB6;
}

.facebook_image {
  position: relative;
  top: 2px;
  right: 3px;
}

.twitter_image {
  position: relative;
  top: 3px;
}

.google_image {
  position:relative;
  top: 2px;
  right: 2px;
}

.last_list_item {
  position: relative;
  bottom: 3px;
}

.social_text {
  position: relative;
  bottom: 7px;
}

.padded2 {
  padding-left: 60px;
}

.event {
  font-weight: bold;
  font-size: 113%;
}

.date {
  color: #BBBABA;;
  font-size: 90%;
  padding-top: 5px;
  padding-bottom: 15px;
  position: relative;
  top: 5px;
}

.upcoming_mobs_header {
  font-size: 159%;
  margin: 0;
  padding: 0;
}

.check {
  position: absolute;
  bottom: 157px;
}

.second_img {
  position: relative;
  bottom: 2px;
  right: 1px;
}

.tiny_link_blue {
  font-size: 78%;
  color: #0082AD;
  position: relative;
  bottom: 10px;
}

.mob_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fed749), color-stop(1, #f0aa3a) );
  background:-moz-linear-gradient( center top, #fed749 5%, #f0aa3a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed749', endColorstr='#f0aa3a');
  background-color:#fed749;
  -webkit-border-top-left-radius:8px;
  -moz-border-radius-topleft:8px;
  border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius-topright:8px;
  border-top-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-bottom-left-radius:8px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
.mob_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0aa3a), color-stop(1, #fed749) );
  background:-moz-linear-gradient( center top, #f0aa3a 5%, #fed749 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0aa3a', endColorstr='#fed749');
  background-color:#f0aa3a;
}.mob_button:active {
  position:relative;
  top:1px;
}
