body {
  margin: 0;
  padding: 0;
  background-color: #F2F0EC;
  font-family: 'Montserrat:400', sans-serif;
  font-weight: lighter;
}

.nav_container {
  height: 60px;
  width: 100%;
  background-image: url('images/top_bar.png');
}
.nav-bar {
  height: 60px;
  /*background-repeat: "images/navbar.png";*/
  color: white;
  width: 940px;
  margin: auto;
  padding-top: 23px;
}

.nav-bar-text-div {
  margin-left: 348px;
  padding: 0;
}

.brand_name {
  margin: 0;
  font-weight: lighter;
}

.nav-bar-text-div {
  position: absolute;
  left: 150px;
  /*padding-top: 7px;*/
}

.nav-bar ul {
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
  color: white;
}

.second-in-nav-list {
  float: left;
  padding-left: 30px;
}

.logo {
  width: 200px;
  height: 59px;
  float: left;
  background-image: url('images/mobber.png');
  background-repeat: no-repeat;
  position: relative;
  bottom: 13px;
}

.find {
  float: left;
}

.brand_name_div {
  width: 150px;
  float: left;
}

.user_arrow_div {
  float: right;
}

.user_arrow {
  position: relative;
  bottom: 21px;
}

.user_image {
  float: right;
  position: relative;
  bottom: 12px;
}


.user_name {
  float: right;
  padding-left: 15px;
  position: relative;
  bottom: 2px;
}

.header {
  width: 100%;
  height: 88px;
  background-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(217, 217, 217, .6);
  -moz-box-shadow: 0px 2px 5px 0px rgba(217, 217, 217, .6);
  box-shadow: 0px 2px 5px 0px rgba(217, 217, 217, .6);
}

.header_text {
  margin: 0;
  padding: 26px 0 0 0;
  font-size: 30px;
  font-weight: lighter;
}

.main_div {
  width: 940px;
  margin: 0 auto;
  padding-top: 30px;
}

.main_image_div {
  float: left;
  width: 621;
  height: 402;
  background-image:url('http://placekitten.com/621/402');
  background-repeat: no-repeat;
  display: inline-block;
}

.main_image_text_top {
  height: 330px;
}

.U2_banner {
  opacity: 1;
  font-size: 20px;
  position: relative;
  color: white;
  top: 14px;
  left: 14px;
}

.image_border {
  height: 56px;
  background-color: black;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.main_image_text_bottom {
  background-color: #D0CDC8;         /*D0CDC8;*/
  height: 103px;
}

.tour_announce {
  color: #414141;
}

.tour_announce {
  margin: 0 20px 0 20px;
  font-style: italic;
  font-size: 100%;
}

.mob_time {
  float: right;
  position: relative;
  right: 20px;
  top: 16px;
}

.mob_message {
  background-color: #FCCD46;
  width: 142px;
  position: relative;
  left: -3px;
  top: -10px;
  color: white;
  text-align: center;
}

.num_of_mobbers {
  margin:9px 30px 2px 28px;
  position: relative;
  bottom: 42px;
}

.mobber_stats_side_container {
  float: right;
  width: 300px;
  height: 498px;
  background: #F2F0EC;
  padding-bottom: 12px;
}

.mobber_stats_1 {
  width: 140px;
  height: 150px;
  background-color: #D0CDC8;
  text-align: center;
}

.mobber_stats_2 {
  width: 140px;
  height: 150px;
  float: right;
  text-align: center;
  background-color: #D0CDC8;
}

.big_num {
  padding-top: 30px;
  color: white;
  display: block;
  font-size: 80px;
  text-shadow: 0px 1px 5px rgba(161, 158, 154, 1);
}

.mobdaddy {
  background-color: #B5AEA4;
  font-size: 88%;
  display: block;
  color: #4D4C4B;
  position: relative;
  top: 10px;
  height: 36px;
}

.image_row_container {
  background-color: #F2F0EC;
  font-size: 90%;

}

.row_of_three_images {
  clear: both;
  width: 100%;
  height: 280px;
  background: white;
  padding: 35px 0 33px 0;
  border-top: 1px solid #D9D9D9;  
}

.images_holder {
  width: 940px;
  height: 600px;
  border-bottom: 1px solid #B1B1B1;
  margin: auto;
}

.image_1 {
  float: left;
}

.image_2 {
  float: left;
  margin: 0 20px 0 20px;
}

.image_3 {
  float: left;
}

.deal_text_container {
  width: 300px;
  height: 90px;
  padding-top: 5px;
}

.deal_headers {
  float: left;
  width: 175px;
  margin: 0;
  padding: 0;
  float: left;
}

.time_div {
  float: right;
  width: 50px;
  margin: 0;
  padding: 0;
  height: 10px;
}

.general_mob_div_container {
  width: 940px;
  margin: auto;
  width: 100%;
  background: white;
}

.general_mob_div {
  clear: both;
  width: 940px;
  height: 250px;
  background: white;
  padding: 18px 0 40px 0;
  margin: auto;
  border-top: 1px solid #B1B1B1;
}

.schedule_div {
  width: 630;
  float: left;
}

.start_mob_div {
  width: 300px;
  height: 210px;
  float: right;
  background: #D0CDC8;
}

.start_mob_div h3 {
  color: white;
  text-align: center;
  font-size: 23px;
  margin-bottom: 0px;
  font-weight: 600;
}

.start_mob_div ul {
  list-style-type: none;
  padding: 0 0 0 20px;
  margin: 0;
  position: relative;
  bottom: 16px;
}

.start_mob_div li {
  display: inline-block;
  width: 70px;
}

.padded {
  padding-left: 16px;
}

.footer {
  clear: both;
  width: 940px;
  height: 300px;
  background: #545352;
  padding: 5px 0 40px 0;
  margin: auto;
}

.mob_categories_div {
  width: 290px;
  float: right;
}

.contact_div {
  width: 280;
  float: right;
  position: relative;
  left: 60px;
}

.connect_div {
  width: 280px;
  float: right;
  margin: 0 20px 0 30px;
}

.category {
  font-size: 100%;
}

.list_one {
  width: 125px;
  float: left;
}

.list_two {
  width: 125px;
  float: right;
}

.smallprint {
  color: #BBBABA;;
  font-size: 12px;
}

.deal_headers_text {
  font-weight: bold;
}

.mobbers_needed {
  clear: both;
}

table {
   border-collapse:collapse;
}

tr {
  border-bottom: 1px solid #B1B1B1;
  width: 620px;
  margin-bottom: 10px;
} 

.footer_container {
  color: white;
  background: #545352;
}

.mob_category_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mob_category_list button {
  width: 140px;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: #636362;
  border: 1px solid black;
  border-radius:5px;
  color: white;
  box-shadow: inset 0 1px 0 rgb(146, 146, 145);
}

.connect_div {
  padding: 0 20px 0 20px;
  margin-left: 20px;
  position: relative;
  left: 65px;
}

.white {
  color: white;
  width: 200px;
}

.connect_div input {
  height: 45px;
  width: 175px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 110%;
}
input::-moz-placeholder {
  padding-left: 10px;
  font-size: 110%;
}
input:-moz-placeholder {   /* Older versions of Firefox */
  padding-left: 10px;
  font-size: 110%;
}
input:-ms-input-placeholder { 
  padding-left: 10px;
  font-size: 110%;
}

.social_list {
  list-style-type: none;
  padding: 0;
  width: 200px;
}

.with_underline {
  border-bottom: 2px solid #373737;
  padding-bottom: 5px;
  margin-bottom: 5px;

}

.contact_text {
  width: 200px;
}

.but_bigger {
  margin: 0;
  padding: 0;
  font-size: 77%;
  color: #BBBABA;
}

.email_button {
  width: 140px;
  height: 40px;
  padding: 0;
  margin-bottom: 10px;
  background-color: #636362;
  border: 1px solid black;
  border-radius:5px;
  color: white;
  margin-top: 9px;
  box-shadow: inset 0 1px 0 rgb(146, 146, 145);
}

/*border-style*/

.smallprint2 {
  font-size: 75%;
  color: #414141;
  position: relative;
  bottom: 10px;
  right: -6px;
  text-align: center;
}

.decorative_nums_div {
  margin-right: 39px;
  position: relative;
  bottom: 14px;
}

.circle_num {
  background-color: #E7E7E7;
  width: 20px;
  text-align: center;
  border-radius: 150px;
}

.spaced {
  margin-left: 54px;
}

.one {
  float: right;
}

.line1 {
  position: relative;
  left: 170px;
  top: -88px;
  width: 54px;
  height: 8px;
  background-color: #BDBBB6;
}

.line2 {
  position: relative;
  left: 79px;
  top: -80px;
  width: 54px;
  height: 8px;
  background-color: #BDBBB6;
}

.facebook_image {
  position: relative;
  top: 2px;
  right: 3px;
}

.twitter_image {
  position: relative;
  top: 3px;
}

.google_image {
  position:relative;
  top: 2px;
  right: 2px;
}

.last_list_item {
  position: relative;
  bottom: 3px;
}

.social_text {
  position: relative;
  bottom: 7px;
}

.padded2 {
  padding-left: 60px;
}

.event {
  font-weight: bold;
  font-size: 89%;
}

.date {
  color: #BBBABA;;
  font-size: 90%;
  padding-top: 5px;
  padding-bottom: 15px;
  position: relative;
  top: 5px;
}

.upcoming_mobs_header {
  font-size: 139%;
  margin: 0 0 20px 0;
  padding: 0;
}

.check {
  position: absolute;
  bottom: 157px;
}

.second_img {
  position: relative;
  bottom: 2px;
  right: 1px;
}

.tiny_link_blue {
  font-size: 71%;
  color: #0082AD;
  position: relative;
  bottom: 10px;
}

.mob_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fed749), color-stop(1, #f0aa3a) );
  background:-moz-linear-gradient( center top, #fed749 5%, #f0aa3a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed749', endColorstr='#f0aa3a');
  background-color:#fed749;
  -webkit-border-top-left-radius:8px;
  -moz-border-radius-topleft:8px;
  border-top-left-radius:8px;
  -webkit-border-top-right-radius:8px;
  -moz-border-radius-topright:8px;
  border-top-right-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -moz-border-radius-bottomright:8px;
  border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
  -moz-border-radius-bottomleft:8px;
  border-bottom-left-radius:8px;
  text-indent:0;
  border:1px solid #CF8F2F;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:23px;
  font-weight:300;
  font-style:normal;
  height:63px;
  line-height:50px;
  width:300px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
  margin-top: 30px;
  position: relative;
  z-index: 3;
}
.mob_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0aa3a), color-stop(1, #fed749) );
  background:-moz-linear-gradient( center top, #f0aa3a 5%, #fed749 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0aa3a', endColorstr='#fed749');
  background-color:#f0aa3a;
}

.mob_button:active {
  position:relative;
  top:1px;
}

.mob_box {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  width: 290px;
  height: 75;
  background-color: #ffffff;
  margin: 0 auto 0 auto;
  padding: 0;
  border-radius: 5px;
  position: relative;
  bottom: 3px;
  z-index: 1;

}

.reward_text {
  margin: 0;
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.ribbon_image {
  float: left;
}

.ticket_text {
  margin: 0;
  font-size: 14px;
}

.mob_small {
  margin-bottom: 0;
}

.works_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffd84a), color-stop(1, #eea538) );
  background:-moz-linear-gradient( center top, #ffd84a 5%, #eea538 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd84a', endColorstr='#eea538');
  background-color:#ffd84a;
  -webkit-border-top-left-radius:9px;
  -moz-border-radius-topleft:9px;
  border-top-left-radius:9px;
  -webkit-border-top-right-radius:9px;
  -moz-border-radius-topright:9px;
  border-top-right-radius:9px;
  -webkit-border-bottom-right-radius:9px;
  -moz-border-radius-bottomright:9px;
  border-bottom-right-radius:9px;
  -webkit-border-bottom-left-radius:9px;
  -moz-border-radius-bottomleft:9px;
  border-bottom-left-radius:9px;
  text-indent:0;
  border:1px solid #CF8F2F;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:220px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
  margin-top: 16px;
}
.works_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eea538), color-stop(1, #ffd84a) );
  background:-moz-linear-gradient( center top, #eea538 5%, #ffd84a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eea538', endColorstr='#ffd84a');
  background-color:#eea538;
}

.works_button:active {
  position:relative;
  top:1px;
}

.final {
  width: 215px;
  height: 73px;
  display: block;
}

.start_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background-color:#d2cfcb;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #000000;
  display:inline-block;
  color:#0082ad;
  font-family:arial;
  font-size:20px;
  font-weight:normal;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:274px;
  height: 60px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  position: relative;
  left: 14px;
  bottom: 35px;
}

.start_button:hover {
  background-color:#dfdfdf;
}

.start_button:active {
  position:relative;
  top:1px;
}

.clock_banner {
  position: relative;
  bottom: 5px;
}

.mob_time_announce {
  position: relative;
  bottom: 13px;
}

.deal_header_img {
  position: relative;
  right: 25px;
}

.time {
  position: relative;
  bottom: 22px;
}

.text_about_mobs {
  position: relative;
  top: 9px;
}

.arrow {
  position: relative;
  bottom: 21px;
  right: 1px
}

.ribbony {
  position: relative;
  bottom: 87px;
  left: -13px;
}

.nav-bar a {
  color: white;
  text-decoration: none;

}

.circle_num {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d5d5d5), color-stop(1, #fdfdfd) );
  background:-moz-linear-gradient( center top, #d5d5d5 5%, #fdfdfd 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d5d5', endColorstr='#fdfdfd');
  background-color:#d5d5d5;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0;
  border:1px solid #9b9996;
  display:inline-block;
  color:#777777;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:35px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
}

.footer h3 {
  font-size: 16px;
  text-shadow: 0px 1px 5px rgba(161, 158, 154, 1);
}

.start_mob_title {
  text-shadow: 0px 1px 5px rgba(161, 158, 154, 1);
}


